# 01-Introduction to Python for general usage

#### This notebook demonstrates the basic programming required for general usage if the chosen language is Python.

### Variables, datatypes

In [1]:
x = 1  # assign value 1 to variable `x`
y = "hello"
z = 3.12

In [2]:
x, y, z = 1, "hello", 3.12  # same as above

In [3]:
type(x), type(y), type(z)  # print datatype

(int, str, float)

### List and Array (denoted by [....])

In [4]:
a1 = [1,2,3,4,5]  # Homogenous list of Integers. Also called Array. Array is Homogenous.
a2 = [1,2,"hello",2.3456,True]  # Heterogenous list. Mix of Integer, String, Float and Boolean
print(a1)
print(a2)

[1, 2, 3, 4, 5]
[1, 2, 'hello', 2.3456, True]

In [5]:
a3 = [i for i in range(10)] # generate a list of int values over a given range
a3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##### Get help on any Python function documentation

In [6]:
# get help on any python function by prefixing with `?`. In this example `range`. This only works in Jupyter notebook.
?range

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [7]:
a2[2]  # access the value in 2nd index of list `a2`

'hello'

### Dictionary (Hash table) (Denoted by {...})

In [8]:
d1 = {"key1": "value1", "key2":"value2"}  # dictionary is nothing but 1 or more key:value pairs. In JSON format.
print(d1)
print(type(d1))

{'key1': 'value1', 'key2': 'value2'}
<class 'dict'>

In [9]:
d2 = {"k1":"v1","k2":"v2","k3":"v3","k4":"v4","k5":"v5","k6":"v6"}
d2["k3"]  # print the value associated with key `k3`

'v3'

### Arithmetic Operations

##### Arithmentic operations on basic datatypes

In [10]:
a, b = 5, 10  # value assignment
print("Addition:", a+b)
print("Multiplication:", a*b)
print("Subtraction:", a-b)
print("Division:", a/b)

Addition: 15
Multiplication: 50
Subtraction: -5
Division: 0.5

##### Arithmetic operations on Lists

In [11]:
a1 = [1,2,3,4,5,"hello"]
a2=[6,7,8,9,10]
print(a1+a2)  # add 2 lists

[1, 2, 3, 4, 5, 'hello', 6, 7, 8, 9, 10]

In [12]:
print(a1-a2)  # List subtract does not work

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [13]:
# List subtract works as follows
a1 = [1,2,3,4,5]
a2 = [2,3]

a3 = set(a1) - set(a2)  # a3 is stored as `set` type. `set` type does not allow duplicates.

print("List a3: ", a3, "Type: ", type(a3))

a3 = list(a3)  # Convert set to list type.
print("List a3: ", a3, "Type: ", type(a3))

List a3:  {1, 4, 5} Type:  <class 'set'>
List a3:  [1, 4, 5] Type:  <class 'list'>

In [14]:
a1 = [2,5,1,7,2,8]
sorted(a1, reverse=False)  # Sort the list in ascending order. To sort in descending, set `reverse=True`.

[1, 2, 2, 5, 7, 8]

### Conditional Statements

In [15]:
if a == b:
    print(f"{a} == {b}")  # Python f strings: f"...{variable}..."
else:
    print(f"{a} != {b}")

5 != 10

In [16]:
print(f"{a} == {b}") if a == b else print(f"{a} != {b}") # same as above cell

5 != 10

### Loops

In [17]:
for i in range(10):  # print value of `i` 10 times. Ranging from 0...9
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
l1 = [i for i in range(10)]  # prepare a list of values using for loop
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
a2 = [1,2,"hello",2.3456,True]

# iterate over a list and print all items
for item in a2:
    print(item)

1
2
hello
2.3456
True

In [20]:
d2 = {"k1":"v1","k2":"v2","k3":"v3","k4":"v4","k5":"v5","k6":"v6"}

# iterate over key and value pairs in a dictionary
for key in d2:
    print(key, ":", d2[key])

k1 : v1
k2 : v2
k3 : v3
k4 : v4
k5 : v5
k6 : v6

### Error Handling using try and except blocks

In [21]:
print(1/0)  # Example of an error such as Divide by Zero

ZeroDivisionError: division by zero

In [22]:
try:  # try block. Place potential faulty code in here which is prone to generating errors.
    print(1/0)
except Exception as e:  # Catch the exception occurred in the try block and treat it appropriately.
    print(f"The error is caught. The error is: {e}")

The error is caught. The error is: division by zero